<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>first</servlet-name>
        <servlet-class>com.first.first</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myservlet</servlet-name>
        <servlet-class>com.first.myservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrationcontroller</servlet-name>
        <servlet-class>com.first.registrationcontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.first.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxservlet</servlet-name>
        <servlet-class>com.first.ajaxservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller</servlet-name>
        <servlet-class>controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller1</servlet-name>
        <servlet-class>com.first.controller1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectController</servlet-name>
        <servlet-class>com.first.SubjectController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>first</servlet-name>
        <url-pattern>/first</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myservlet</servlet-name>
        <url-pattern>/myservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrationcontroller</servlet-name>
        <url-pattern>/registrationcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajaxservlet</servlet-name>
        <url-pattern>/ajaxservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller1</servlet-name>
        <url-pattern>/controller1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectController</servlet-name>
        <url-pattern>/SubjectController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
